h1 { border-bottom-style: inset; }
img.imgProg { max-width: 100%; }
.tarefaSelecionada { color: red; font-style: italic; }
.tarefaNormal { color: black; }
img.moeda1_00 { height: 84px; width: 84px; margin-bottom: 5px; }
img.moeda0_50 { height: 66px; width: 66px; margin-bottom: 5px; }
img.moeda0_25 { height: 76px; width: 76px; margin-bottom: 5px; }
img.moeda0_10 { height: 60px; width: 60px; margin-bottom: 5px; }
.aDireita { text-align: right; }
.italico { font-style: italic; }